<div id="tasks" class="span6">
    <div class="row">
        <form action="/task/" method="post" id="task-form" class="form-inline">
            <input type="text" name="task[name]" placeholder="Task Name" id="task-name" class="span6">
        </form>
    </div>
    <div id="task-list">
        {{#tasks}}
            {{>task}}
        {{/tasks}}
    </div>
</div>
